/* Products.css */

.products-container {
  text-align: center;
  padding: 20px;
  background-size: cover;
  background-position: center;
  color: #fff;
}
 

.title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
}

.paragraph {
  font-size: 40px;
  line-height: 1.5;
}

:root {
  --theme-ui-colors-background: transparent;
  --theme-ui-colors-background-header: #073B4C;
  --theme-ui-colors-background-secondary: #d03c3c;
  --theme-ui-colors-text: #ffffff;
  --theme-ui-colors-text-light: #ffffff;
  --theme-ui-colors-border: #ffffff;
}

table {
  border: 1px solid var(--theme-ui-colors-border);
  border-radius: 6px;
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #2d728f;
  color: #fefefe;
  font-family: 'Montserrat', sans-serif;
}

.icon {
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
}

.icon_header {
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
}

.icon,
.icon_header {
  margin-right: 5px;
}

.close_icon {
  color: red;
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main';
  height: 100vh;
}

/* Header */
.header {
  grid-area: header;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.menu-icon {
  display: none;
}

/* End Header */

/* Sidebar */
#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #b2cede;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0px 30px;
  margin-bottom: 30px;
  color: black;
}

.sidebar-title>span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px 20px 20px 20px;
  font-size: 18px;
}

.sidebar-list-item:hover {
  background-color: rgb(17, 138, 178);
  cursor: pointer;
}

.sidebar-list-item>a {
  text-decoration: none;
  color: #000000;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  z-index: 12 !important;
}

/* End Sidebar */

/* Main */
.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  color: rgba(255, 255, 255, 0.95);
}

.main-title {
  display: flex;
  justify-content: space-between;
  font-family: 'sans-serif';
  size: 20cm;
  align-items: center;
  margin-left: 8cm;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 6px 10px;
  border-radius: 30px;
  margin-bottom: 3cm;
}

.card:first-child {
  background-color: #ffffff;
}

.card:nth-child(2) {
  background-color: #ffffff;
}

.card:nth-child(3) {
  background-color: #ffffff;
}

.card:nth-child(4) {
  background-color: #a6dc28;
}

.card_icon {
  font-size: 20px;
  justify-content: center;
  align-items: center;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 60px;
  height: 300px;
}

/* End Main */

/* Medium <= 992px */
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'header'
      'main';
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title>span {
    display: inline;
  }
}

/* Extra Small <= 576px */
@media screen and (max-width: 1500px) {
  .hedaer-left {
    display: none;
  }
}

/* Ajoutez ces styles à votre fichier Products.css */
.table-container {
  width: 100%;
  margin: 0 auto;
}

.table th,
.table td {
  padding: 10px;
}